
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Slider starts-->
<section class="slider-hero">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>

        </ol>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="~/Content/images/3.jpg" class="d-block hero" alt="...">
                <div class="container-fluid text-right">
                    <div class="carousel-caption animate__animated animate__fadeInUp animate__slow">
                        <div class="mb-5 pb-5">
                            <h5 class="slide1-2 mb-5 pb-5">Take the first step towards your career.<br></h5>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="carousel-item">
                <img src="~/Content/images/2.jpg" class="d-block hero" alt="...">
                <div class="container-fluid text-center ">
                    <div class="carousel-caption animate__animated animate__fadeInUp animate__slow">
                        <div class="mb-5 pb-5">
                            <h5 class="slider2-h mb-5 pb-5">Lets design a better world.<br></h5>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="carousel-item">
                <img src="~/Content/images/1.jpg" class="d-block hero" alt="...">
                <div class="container-fluid">
                    <div class="carousel-caption">
                        <h5 class="slide1-1 text-left animate__animated animate__fadeInUp animate__slow">
                            <p class="slider1-text">
                                WE ARE OPEN! <br>

                                On-Campus. Online. Virtual.
                            </p>
                        </h5>
                    </div>
                </div>
            </div>







        </div> <!--carousel-inner-->


    </div> <!--carousal-->
</section>
<!--Slider ends-->
<!--section1 start-->
<section>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 p-0">
                <div>
                    <img src="~/Content/images/students.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 bg-cgreen px-lg-5 py-lg-5" style="background:#d4ebf2;word-spacing:3px">

                <div>
                    <h1 class="section-h1 mt-5"  style="color:#17a2b8">
                        WHY YOU SHOULD JOIN US
                    </h1>
                    <h2 class="section-h2">
                        Get Hands-on Experience
                    </h2>
                    <p class="section-p">
                        As a practice-based art school, we believe in a disciplined approach
                        that encourages students to develop their own styles, to blend talent,
                        technical skills, creative aspirations and professional knowledge.
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>
<!--section1 end-->
<!--section2 start-->
<section class="section-margin">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="sec4-h">Professional Programs</h1>
                <p class="sec4-p">
                    At HMT School of Art, we currently offer
                    twelve different programs of different
                    durations. We offer professional diploma
                    programs of two years and four years and
                    also offer short diploma programs of one
                    year and six months.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card card-setting">
                    <img src="~/Content/images/painting.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: #63a4ff;background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);">
                        <p class="card-text card-h" >Drawing And Painting</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-middle">
                    <img src="~/Content/images/fineart.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: #63a4ff;background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);">
                        <p class="card-text card-h" style="color:black;text-decoration:none;" >Fine Arts</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card card-setting">
                    <img src="~/Content/images/calligraphy.jpg" class="card-img-top" alt="...">
                    <div class="card-body"  style="background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);">
                        <p class="card-text card-h">Calligraphy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section2 end-->
<!--section3 start-->
<section>
    <div class="container-fluid">
        <div class="row">



            <div class="col-md-7 bg-cgreen px-lg-5 py-lg-5" style="background:#d4ebf2;word-spacing:3px">

                <div>
                    <h1 class="section-h1 mt-5" style="color:#17a2b8">
                        San Francisco Is Your Campus
                    </h1>
                    <h2 class="section-h2">
                        Academic
                    </h2>
                    <p class="section-p">
                        Parsons' unique approach to interdisciplinary, real-world learning is interwoven throughout all of our offerings, from undergraduate and graduate degrees to executive education for professionals to continuing and pre-college courses taught on campus and online.
                    </p>
                </div>

            </div>


            <div class="col-md-5 p-0">
                <div>
                    <img src="~/Content/images/girl.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

</section>
<!--section3 end-->
<!--section4 start-->
<section class="section-margin">
    <div class="container">

        <div class="row my-5">
            <div class="col">
                <h1 class="sec4-h">Student Work</h1>
                <!-- <p class="sec4-p mt-2">Interdum nulla, ut commodo diam libero vitae erat.
                        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                        Nunc ut sem vitae risus tristique posuere.</p> -->
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-6">

                <div class="card sec4-card">
                    <div class="inner">
                        <img src="~/Content/images/painting-a.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title sec4-card-h">Muhammad Hamza</h5>
                        <p class="card-text sec4-card-p py-2">Painting of the year 2021</p>
                        <div class="text-center">
                            <button class="btn btn-info">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">

                <div class="card sec4-card">
                    <div class="inner">
                        <img src="~/Content/images/wallpaper-c.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title sec4-card-h">Anusha Waqar</h5>
                        <p class="card-text sec4-card-p py-2">Wallpaper design of the year</p>
                        <div class="text-center">
                            <button class="btn btn-info">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">

                <div class="card sec4-card">
                    <div class="inner">
                        <img src="~/Content/images/islamic-calligraphy-a.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title sec4-card-h">Dua</h5>
                        <p class="card-text sec4-card-p py-2">Calligraphy of the year 2021</p>
                        <div class="text-center">
                            <button class="btn btn-info">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--section4 end-->
<link href="~/Content/css/adminpanel.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />