<!doctype html>
<html lang="en">
<head>

    <link rel="shortcut icon" type="x-icon" href="assets/images/headericon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <link rel="icon" href="~/Content/images/headericon.png">

    <title>HMT</title>
</head>

<body>

    <!--Navbar starts-->
    <nav class="navbar navbar-expand-md fixed-top bg-info">
        <a class="navbar-brand" href="#">
            <img src="~/Content/images/logo1.png" />
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="color:white!important;;">
            <span class="toggler-icon top-bar text-white" style="color:white!important;background:white!important;"></span>
            <span class="toggler-icon middle-bar text-white" style="color:white!important;background:white!important;"></span>
            <span class="toggler-icon bottom-bar text-white" style="color:white!important;background:white!important;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-md-auto">

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("stationeries","User")" style="color:white;font-size:18px">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("checkout","User")" style="color:white;font-size:18px">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout","Home")" style="color:white;font-size:18px">Logout</a>
                </li>
            </ul>

        </div> <!--navbar-collapse-->

    </nav>
    <!--Navbar ends-->


    <div>
        @RenderBody();
    </div>





    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
</body>

</html>